<h1 class="mx-auto w-10 text-center font-normal text-2em mt-8">Bát đĩa</h1>
<h1 class="test-host">trung test</h1>

<p class="text-3xl mx-auto text-center w-10 my-3">Tinh hoa ẩm thực cảm nhận bằng cả đôi mắt nghệ thuật</p>
<div class="card xl:w-7 sm:w-12 mx-auto block">
  <div class="bg-white grid justify-content-between px-3 lg:p-0 my-3 sticky top-0" style="z-index: 1;">
    <div class="flex gap-2 col-12 lg:col-6">
      <lht-button-sort [label]="'A-Z'" [toggle]="sortAZ" (toggleChange)="onSort($event, 'sortAZ')"></lht-button-sort>
      <lht-button-sort [label]="'Giá'" [toggle]="sortPrice"
        (toggleChange)="onSort($event, 'sortPrice')"></lht-button-sort>
      <div class="p-input-icon-left" style="width: calc(100% - 12rem);">
        <input class="w-full" type="text" pInputText placeholder="Tìm kiếm"/>
        <i class="pi pi-search px-1"></i>
      </div>
    </div>
    <!-- <div class="col-12 lg:col-6 flex  lg:flex-row-reverse">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [pageLinkSize]="4"/>
    </div> -->
  </div>
  <div class="grid p-3 lg:p-0">
    <lht-card-product-sm *ngFor="let product of products" class="col-6 md:col-6 lg:col-3"></lht-card-product-sm>
    <div class="w-full flex justify-content-center my-4">
      <p-button [outlined]="true" class="w-7" styleClass="w-12 uppercase font-bold"
      label="Xem thêm" [rounded]="true" severity="warning" />
    </div>
  </div>
</div>

